Library/*
.vs/*
.vsconfig
Assets/_TerrainAutoUpgrade/*
Assets/BuildReports/*
Assets/BuildReports.meta
DumpFiles/*
DioramaKnight.sln
Assembly-CSharp*.csproj
obj/*/*.cache
obj/Debug/*.cs
obj/Debug/build.force
Logs/*.log
Logs/*.txt
Build/*
PlayFab*.csproj
AmplifyShaderEditor.csproj
GoogleMobileAds*.csproj
UnityEngine.*.csproj
UnityEditor.*.csproj
Unity.*.csproj
com.unity.*.csproj
Analytics.csproj
Cinemachine.csproj
Purchasing.Common.csproj
UserSettings/*
DioramaKnight_build/*
Photon*.csproj
PunDemos.*.csproj
UnityDebugSheet*.csproj
IngameDebugConsole*.csproj
ReferenceViewer.csproj
PlayServicesResolver*.csproj